﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Email:</strong> <a href="mailto:felipemira@gmail.com">felipemira@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/felipemira/">https://www.linkedin.com/in/felipemira/</a>
</address>