﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Test Web API</h2>
        <ul>
            <li>Test WEB API with <a href="swagger">Swagger</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>GAP Clinic</h2>
        <ul>
            <li>View and create <a asp-area="" asp-controller="Home" asp-action="Patients">patients</a></li>
            <li>View, create and cancel <a asp-area="" asp-controller="Home" asp-action="Appointments">appointments</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Basic Information</h2>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
</div>
